header {
	text-align: center;
}
label, input {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 6px;
}
label {
	width: 150px;
}
input[type="text"] {
	width: 250px;
	height: 30px;
}
input[type="submit"] {
	margin-left: 155px;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td, th {
	border: 1px solid black;
}